@{
    ViewBag.Title = "Home Page";
}
<section class="sct-color-1">
    <div class="container-fluid no-padding">
        <div class="row row-no-padding">
            <div class="col-lg-4 order-2" id="div_properties_search">
                <div class="card card-inverse no-border no-radius">
                    <div class="card-body text-center">
                        <h3 class="heading heading-5 strong-500 text-uppercase advertisement">Advertizement</h3>
                        <div class="swiper-js-container">
                            <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                                <div class="swiper-wrapper">
                                    <!-- Testimonial 1 -->
                                    <div class="swiper-slide" data-swiper-autoplay="4000">
                                        <img class="img-fluid" src="~/assets/images/Advertizement/lady.jpg">
                                    </div>
                                    <div class="swiper-slide" data-swiper-autoplay="4000">
                                        <img class="img-fluid" src="~/assets/images/Advertizement/lady2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="swiper-js-container background-image-holder">
                    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="coverflow" data-swiper-items="1" data-swiper-space-between="0">
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide" data-swiper-autoplay="10000">
                                <div class="slice px-5 holder-item holder-item-light has-bg-cover bg-size-cover same-height" data-same-height="#div_properties_search" style="background-image: url(../../assets/images/prv/real-estate/img-slider-3.jpg); background-position: bottom bottom;">
                                    <span class="mask mask-dark--style-2"></span>
                                    <div class="container d-flex align-items-center no-padding">
                                        <div class="col">
                                            <div class="row row-cols-xs-spaced align-items-center text-center text-md-left">
                                                <div class="col-12 col-md-7 col-lg-7">
                                                    <h2 class="heading heading-2 strong-500 c-white">
                                                        Our professional angents will take care of your property!
                                                    </h2>
                                                    <p class="mt-3 c-white">
                                                        Browse through more than 200.000 properties to rent or sell with Boomerang Real Estate. Contact our agents now!
                                                    </p>
                                                    <a href="#" class="btn btn-styled btn-base-1 btn-circle mt-4">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide" data-swiper-autoplay="10000">
                                <div class="slice px-5 holder-item holder-item-light has-bg-cover bg-size-cover same-height" data-same-height="#div_properties_search" style="background-image: url(../../assets/images/prv/real-estate/img-slider-2.jpg); background-position: bottom bottom;">
                                    <span class="mask mask-dark--style-2"></span>
                                    <div class="container d-flex align-items-center no-padding">
                                        <div class="col">
                                            <div class="row row-cols-xs-spaced align-items-center text-center text-md-left">
                                                <div class="col-12 col-md-7 col-lg-7">
                                                    <h2 class="heading heading-2 strong-500 c-white">
                                                        Our professional angents will take care of your property!
                                                    </h2>
                                                    <p class="mt-3 c-white">
                                                        Browse through more than 200.000 properties to rent or sell with Boomerang Real Estate. Contact our agents now!
                                                    </p>
                                                    <a href="#" class="btn btn-styled btn-base-1 btn-circle mt-4">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice pb-0 sct-color-1">
    <div class="section-title section-title--style-1 text-center mb-2">
        <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
            <span>Latest projects</span>
        </h3>
        <span class="section-title-delimiter clearfix d-none"></span>
    </div>
    <span class="clearfix"></span>
    <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
        Start building fast, beautiful and modern looking websites in no time using our theme.
    </div>
    <span class="space-xs-md"></span>
    <div class="container no-padding">
        <div class="row row-no-padding masonry">
            <div class="masonry-item mb-0 col-lg-3 col-6 design">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-1.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        Beware the mountain
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Web Design
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  branding">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-2.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        Beware the mountain
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Branding
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  identity">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-3.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        Rules not to follow
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Identity
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  graphics">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-4.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        The secret of life
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Graphics
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  identity">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-5.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        Remarkable web design
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Identity
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  graphics">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-6.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        Time to go back to basics
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Graphics
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  branding">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-7.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        Whispering Secrets
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Branding
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="masonry-item mb-0 col-lg-3 col-6  design">
                <a href="#">
                    <div class="block block--style-5 mb-0 no-radius">
                        <div class="block-image">
                            <img src="../../assets/images/prv/work/agency/img-wide-8.jpg" class="no-radius">
                        </div>
                        <div class="block-mask-caption--over flex flex-items-xs-top">
                            <div class="">
                                <div class="text-xs-left">
                                    <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                        The Naked Gift
                                    </h3>
                                    <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                        Design
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
<section class="slice sct-color-1" id="scrollToSection">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>Latest properties</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
            Start building fast, beautiful and modern looking websites in no time using our theme.
        </div>
        <span class="space-xs-md"></span>
        <div class="row-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-1.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-yellow">For sale</span>
                        </div>
                        <div class="block-body">
                            <h3 class="heading heading-sm">
                                <a href="#">
                                    3015 Grand Avenue, CocoWalk
                                </a>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisg elitm.
                            </p>
                        </div>
                        <div class="block-footer border-top py-3">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <span class="block-price">$250.800</span>
                                    <span class="block-price-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-2.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For rent</span>
                        </div>

                        <div class="block-body">
                            <h3 class="heading heading-sm">
                                <a href="#">
                                    9975 Emerald, New York
                                </a>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisg elitm.
                            </p>
                        </div>
                        <div class="block-footer border-top py-3">
                            <div class="row align-items-center">
                                <div class="col col-12">
                                    <span class="block-price">$1300</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-3.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-yellow">For sale</span>
                        </div>

                        <div class="block-body">
                            <h3 class="heading heading-sm">
                                <a href="#">
                                    2030 Misty Wagon, Canyon
                                </a>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisg elitm.
                            </p>
                        </div>
                        <div class="block-footer border-top py-3">
                            <div class="row align-items-center">
                                <div class="col col-12">
                                    <span class="block-price">$4000</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-2.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For rent</span>
                        </div>

                        <div class="block-body">
                            <h3 class="heading heading-sm">
                                <a href="#">
                                    9975 Emerald, New York
                                </a>
                            </h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisg elitm.
                            </p>
                        </div>
                        <div class="block-footer border-top py-3">
                            <div class="row align-items-center">
                                <div class="col col-12">
                                    <span class="block-price">$1300</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <a class="btn btn-block btn-base-1" href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice pb-2 sct-color-2 border-top border-bottom">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>More featured properties</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
            Start building fast, beautiful and modern looking websites in no time using our theme.
        </div>
        <span class="space-xs-md"></span>
        <div class="swiper-container-centered">
            <div class="swiper-wrapper pb-5">
                <div class="swiper-slide">
                    <div class="block block--style-2 bg-base-1 z-depth-1-bottom z-depth-2--hover">
                        <div class="block-image">
                            <img src="../../assets/images/prv/real-estate/img-7-square.jpg">
                        </div>
                        <div class="block-body sct-inner">
                            <h3 class="heading heading-5 strong-500">Bedroom</h3>
                            <p>
                                Surface: 85 Sq. Feet
                            </p>
                            <p class="mb-2">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumOur nibh.
                            </p>
                            <div class="btn-container">
                                <a href="#" class="btn btn-styled btn-sm btn-base-5">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block block--style-2 bg-base-1 z-depth-1-bottom">
                        <div class="block-image">
                            <img src="../../assets/images/prv/real-estate/img-3-square.jpg">
                        </div>
                        <div class="block-body sct-inner">
                            <h3 class="heading heading-5 strong-500">Main house</h3>
                            <p>
                                Surface: 85 Sq. Feet
                            </p>
                            <p class="mb-2">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumOur nibh.
                            </p>
                            <div class="btn-container">
                                <a href="#" class="btn btn-styled btn-sm btn-base-5">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block block--style-2 bg-base-1 z-depth-1-bottom">
                        <div class="block-image">
                            <img src="../../assets/images/prv/real-estate/img-4-square.jpg">
                        </div>
                        <div class="block-body sct-inner">
                            <h3 class="heading heading-5 strong-500">Living room</h3>
                            <p>
                                Surface: 85 Sq. Feet
                            </p>
                            <p class="mb-2">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumOur nibh.
                            </p>
                            <div class="btn-container">
                                <a href="#" class="btn btn-styled btn-sm btn-base-5">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="slice-lg slice--offset-top bg-base-1" style="background: url(../../assets/images/patterns/pattern-3.png) repeat">
    <span class="mask mask-base-1--style-2"></span>
    <!-- Contents -->
    <div class="container sct-inner relative">
        <!-- Testimonial entries -->
        <div class="fluid-paragraph fluid-paragraph-md paragraph-lg strong-300 relative">
            <div class="swiper-js-container">
                <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                    <div class="swiper-wrapper">
                        <!-- Testimonial 1 -->
                        <div class="swiper-slide" data-swiper-autoplay="3000">
                            <div class="text-center">
                                <img src="../../assets/images/prv/people/person-1.jpg" class="rounded-circle" width="100">
                                <span class="clearfix"></span>
                                <div class="fluid-paragraph fluid-paragraph-sm mt-4">
                                    "Viam sumi mo id erit objectioni mo de necessario crediderim imo terra vox alios aut lor quasi. Vim quaero aut videri pendam plures duo extat neque arcte re ad etiam ego infiniti reperero mutuatur formalem sed scribere nec vel profecto."
                                </div>
                                <div class="text-center mt-5">
                                    <h3 class="heading heading-4 strong-500 mb-0">
                                        Bettie Mavis
                                    </h3>
                                    <span class="heading heading-xs strong-400 text-normal">
                                        IT Specialist
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <div class="text-center">
                                <img src="../../assets/images/prv/people/person-2.jpg" class="rounded-circle" width="100">
                                <span class="clearfix"></span>
                                <div class="fluid-paragraph fluid-paragraph-sm mt-4">
                                    "Viam sumi mo id erit objectioni mo de necessario crediderim imo terra vox alios aut lor quasi. Vim quaero aut videri pendam plures duo extat neque arcte re ad etiam ego infiniti reperero mutuatur formalem sed scribere nec vel profecto."
                                </div>
                                <div class="text-center mt-5">
                                    <h3 class="heading heading-4 strong-500 mb-0">
                                        Elisabeth Alanna
                                    </h3>
                                    <span class="heading heading-xs strong-400 text-normal">
                                        IT Specialist
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="text-center mt-1">
                    <div class="swiper-button--style-1 swiper-button-prev"></div>
                    <div class="swiper-button--style-1 swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice sct-color-1">
    <div class="container">
        <div class="section-title section-title--style-1 text-center">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>Our partners</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-6">
                <div class="client-logo client-logo--style-4">
                    <div class="view view-first">
                        <a href="#">
                            <img src="../../assets/images/prv/clients/client-1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="client-logo client-logo--style-4">
                    <div class="view view-first">
                        <a href="#">
                            <img src="../../assets/images/prv/clients/client-2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="client-logo client-logo--style-4">
                    <div class="view view-first">
                        <a href="#">
                            <img src="../../assets/images/prv/clients/client-3.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="client-logo client-logo--style-4">
                    <div class="view view-first">
                        <a href="#">
                            <img src="../../assets/images/prv/clients/client-4.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="client-logo client-logo--style-4">
                    <div class="view view-first">
                        <a href="#">
                            <img src="../../assets/images/prv/clients/client-5.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="client-logo client-logo--style-4">
                    <div class="view view-first">
                        <a href="#">
                            <img src="../../assets/images/prv/clients/client-6.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
